priority 100

snippet impnp "import numpy as np"
	import numpy as np

snippet impplt "import matplotlib.pyplot as plt"
	import matplotlib.pyplot as plt

snippet fig "matplotlib figure"
	plt.figure()
	plt.plot($1)
	plt.xlabel('$2')
	plt.ylabel('$3')
	plt.grid(ls='--')
	plt.tight_layout()

snippet subplots "matplotlib subplots"
	fig, axes = plt.subplots($1, $2, layout='tight')
	plt.plot($3)
	plt.xlabel('$4')
	plt.ylabel('$5')
	plt.grid(ls='--')

